@import url(pages/about.css);
@import url(pages/contact.css);
@import url(pages/footer.css);
@import url(pages/header.css);
@import url(pages/home.css);
@import url(pages/project.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002233;
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
