@import url(pages/about.css);
@import url(pages/contact.css);
@import url(pages/footer.css);
@import url(pages/header.css);
@import url(pages/home.css);
@import url(pages/project.css);

:root {
    --neon-blue: #1e90ff;
    --tiffany-blue: #97D8C4;
    --anti-flash-white: #EFF2F1;
    --xanthous: #F4B942;
    --xanthous-light: #fbe4b7;
    --crayola: #F9627D;
    --black: #002233;
    --button: #3f51b5;
    --button-hover: #29388a;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--xanthous);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--crayola);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--xanthous-light);
    color: var(--anti-flash-white);
    /* cursor:url(../images/cursor.svg),auto; custom cursor */
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title {
    justify-self: center;
}

a {
    color: var(--anti-flash-white);
    text-decoration: none;
    font-weight: bold;
}

#mobile-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

#close-button {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

/* https://coolors.co/0b63fe-97d8c4-eff2f1-f4b942-f9627d */
