.header {
    background-color: var(--black);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    max-height: 20px;
}

.logo {
    height: 100px;
    width: 100px;
    background-image: url(../../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -35px;
}

.navigation {
    text-align: right;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-left: 20px;
}